<template>
  <div>
    <h1>Calculator</h1>
    <table class="center">
      <tr>
        <td>
          <label>Number 1 </label><br />
          <input type="number" name="num1" v-model="num1" />
        </td>
        <td>
          <label>Operator </label><br />
          <input type="text" name="operator" v-model="operator" />
        </td>
        <td>
          <label>Number 2 </label><br />
          <input type="number" name="num2" v-model="num2" />
        </td>
      </tr>
      <tr>
        <td colspan="3">Result of operator : {{ calculate }}</td>
      </tr>
    </table>
  </div>
</template>

<script>
export default {
  name: "calculator",
  data() {
    return {
      num1: null,
      num2: null,
      operator: null,
      result: null,
    };
  },
  computed: {
    calculate() {
      if (this.operator == "+") {
        {
          return  parseInt(this.num1) + parseInt(this.num2);
        }
      } else {
        return  this.num1 - this.num2;
      }
    },
  },
  watch: {
    calculate(val) {
      if (val) {
        this.result = val;
      }
    },
  },
};
</script>

<style>
.center {
  margin-left: auto;
  margin-right: auto;
}
</style>