<template>
  <div>
    <h3>Please select your choice:</h3>
    <p v-if="showCalculator"><router-link @click="toggleCalc()" to="/calculator">Calculator</router-link></p>
    <p v-if="showQuiz"><router-link @click="toggleQuiz()" to="/quiz">Quiz</router-link></p>
    <router-view /> 
  </div>
</template>

<script>

export default {
  name: "home",
  data() {
    return { showCalculator: true, showQuiz: true };
  },
  methods: {
    toggleCalc() {
      this.showQuiz=false;
      this.showCalculator = true;
    },
    toggleQuiz() {
      this.showQuiz=true;
      this.showCalculator = false;
    },
  },
};
</script>

<style>
</style>