<template>
  <div>
    <h1>Quiz</h1>
    <form
      @submit="submit"
      v-for="(data, index) in alldata"
      :key="index"
      ref="form"
    >
      {{ decodeURI(data.question) }}
      <br /><input
        type="radio"
        name="choice"
        v-model="choice[index]"
        value="True"
      /><label /> True <br /><br />
      <input
        type="radio"
        name="choice"
        v-model="choice[index]"
        value="False"
      /><label /> False <br /><br />
    </form>
    <result v-bind:choice="choice" :answers="answers" @result="result"></result>
    <h1>Result: {{ count }} correct out of 10.</h1>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import result from "./result.vue";
export default {
  name: "vuexDemo",
  components: { result },
  data() {
    return {
      questions: [],
      answers: [],
      choice: [],
      count: 0,
    };
  },
  methods: {
    ...mapActions(["getData"]),
    result(event) {
      this.count = event;
    },
  },
  computed: mapGetters(["alldata"]),

  async created() {
    await this.getData();
    for (let index = 0; index < this.alldata.length; index++) {
      this.questions = this.alldata[index].question;
      this.answers.push(this.alldata[index].correct_answer);
    }
  },
};
</script>

<style>
</style>