<template>
  <div>
    <button type="submit" v-on:click="submit">Submit</button>
  </div>
</template>

<script>
export default {
  name: "result",
  data() {
    return {
      count: 0,
    };
  },
  props: ["choice", "answers"],
  methods: {
    submit() {
      for (let index = 0; index < 10; index++) {
        if (this.answers[index] == this.choice[index]) {
          this.count = this.count + 1;
        }
      }
      console.log(this.count)
      this.$emit('result', this.count);
      console.log("emitted")
    },
  },
};
</script>

<style>
</style>